* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  position: relative;
}

.navbar .container-fluid {
  width: 100%;
}

.navbar .container-fluid .container-fluid {
  width: fit-content;
  position: relative;
  flex-wrap: nowrap;
}

.navbar .nav-item .drop-down {
  color: black;
}

@media screen and (min-width: 769px) {
  .navbar .container-fluid {
    width: 100%;
    flex-wrap: nowrap;
  }

  .navbar .container-fluid .container-fluid {
    width: fit-content;
    position: relative;
  }

  .navbar .container-fluid .logout {
    position: absolute;
    right: 1rem;
    border: 1px solid #0044CC;
    border-radius: 5px;
    background-color: #0044CC;
    color: white;
  }
}

.main {
  width: 100vw;
  word-wrap: break-word;
  padding: 1rem;
}

.main .table-container {
  overflow-y: scroll;
}

.main .table-container thead {
  vertical-align: middle;
}

.main .toast-bg-color {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main .toast-bg-color.success {
  background-color: #e5ffe2 !important;
}

.main .toast-bg-color.danger {
  background-color: #ffe2e2 !important;
}

.main .pagination {
  justify-content: center;
}

.main .fillers {
  display: none;
}

.main .mobile-part {
  text-align: initial;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.main .login-suggest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
}

.main .login-suggest>a {
  border: 1px solid;
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0044CC;
  color: white;
}

@media screen and (min-width: 769px) {
  .main {
    width: 100vw;
    word-wrap: break-word;
    padding: 1rem;
  }

  .main .table-container {
    overflow-y: scroll;
  }

  .main .toast-bg-color {
    position: absolute;
    background-color: #ffe2e2 !important;
  }

  .main .toast-bg-color.success {
    background-color: #e5ffe2 !important;
  }

  .main .toast-bg-color.danger {
    background-color: #ffe2e2 !important;
  }

  .main .fillers {
    display: block;
    padding: auto 3rem;
    width: 70%;
    margin: 1.5rem auto;
  }
}

.main>.main-heading {
  text-align: center;
  text-decoration: underline;
}

.form-group {
  margin: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group>select {
  width: 100%;
  height: 2rem;
}

.form-group>input {
  width: 100%;
  height: 2rem;
}

.form-container>button {
  margin: 1.5rem;
  float: right;
  margin-top: 0;
}

.form-container>.btn.btn-success {
  margin-left: 0.5rem;
}

.form-container>.btn.btn-danger {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .main>.main-heading {
    text-align: center;
  }

  .main>form {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

  .main>form>.form-container {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2rem;
    box-shadow: inset 0 0 20px 5px black, 0 0 5px 10px lightblue;
  }

  .main>.mobile-part {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */