{% extends "base.html" %}

{% block content %} 

{% if user.is_authenticated %}
Hi {{ user.username }}! What would you like to do...

<table class="table table-striped table-hover">
    <tr><thead>
       <td>TransactionID</td>
       <td>ISBN</td>
       <td>MemberID</td>
       <td>ISBN</td>
       <td>Issue</td>
       <td>Due</td>
    </tr></thead>
    <tbody>
 {% for transaction in transactions %}
    <tr>
       <td>{{transaction.transaction_id}}</td>
       <td>{{transaction.isbn}}</td>
       <td>{{transaction.memberId}}</td>
       <td>{{transaction.issuedDate}}</td>
       <td>{{transaction.dueDate}}</td>
    </tr>
 {% endfor %}
    </tbody>
 </table>


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock content %}


